.hero__info {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin: 16px 0;
}

.hero_info-description {
    width: 832px;
    height: 439px;
    background: var(--color-bg2);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero_info-my-photo {
    
    background-image:
    linear-gradient(to right, 
        rgba(61, 139, 143, 0.4) 0%,
        rgba(80, 206, 197, 0.05) 50%,
        rgba(132, 235, 216, 0.4) 100%
          ),
    url('../../assets/person.webp');
    width: 343px;
    height: 439px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
}

.hero_info-left-dots {
    position: relative;
    width: 90px;
    height: 90px;
    background-image: radial-gradient(var(--color-secondary), transparent 40%);
    background-size: 30px 30px;
    top: 85%;
    right: 15%;
    z-index: -1;
}

.hero_info-right-dots {
    position: relative;
    width: 90px;
    height: 90px;
    background-image: radial-gradient(var(--color-secondary), transparent 40%);
    background-size: 30px 30px;
    left:85%;
    bottom: 27%;
    z-index: -1;
}

.send-mail {
    width: fit-content;
    border-radius: 50px;
}

.hero__media {
    display: flex;
    align-items: center;
    margin: 16px 0;
    width: fit-content;
}

.hero__media-buttons {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .hero_info-description {
        height: 350px;
    }
    
    .hero_info-my-photo {
        height: 350px;
    }
    
    .hero_info-right-dots {
        left: 75%;
        bottom: 34%;
    }
}

@media screen and (max-width: 768px) {
    .hero__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero_info-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 350px;
        width: auto;
    }

    .hero__media {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero__media span {
        margin-bottom: 16px;
    }
}