.navbar {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--conatainer-width-lg);
    margin: 0 auto;
    padding: 16px 0;
}


.navbar.active .nav-bar__CV,
.navbar.active .logo {
    display: none;
}

.logo img {
    height: 113px;
    display: flex;
    align-items: flex-end;  
}

.menu__open-section,
.menu__close-icon,
.menu_mobile-section{
    display: none;
}

.nav-menu {
    display: flex;
    width: auto;
}

.nav-menu li {
    padding: 0 24px;
    width: auto;
}

.nav-menu a {
    font-size: 1rem;
    color: var(--color-primary);
    width: auto;
}

.nav-menu a:hover {
    color: var(--color-secondary);
}

.nav-active {
    display: none;
}

@media screen and (max-width: 1024px) {

    .nav-bar__CV {
        display: none;
    }

    .logo img {
        display: block;
        width: 77px;
        height: 57px;
    }
}

@media screen and (max-width: 768px) {

    .navbar {
        width: var(--conatainer-width-s);
    }

    .nav-menu {
        position: inherit;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: -100%;
        left: 0;
        opacity: 1;
        transition: 0.3s ease-in;
        border: 3px solid var(--color-tertiary);
        padding: 2rem 0;
        gap: 5vh;
        z-index: 10;
    }

    .nav-menu.nav-active {
        background: var(--color-bg1);
        top: 0;
        opacity: 1;
        transition: 0.5s ease-out;
    }

    .navbar .nav-menu.nav-active {
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100vw;
    }

    .nav-menu a,
    .nav-active a {
        font-size: 1.5rem;
        color: var(--color-primary);
        width: auto;
        text-transform: uppercase;
    }


    .nav-menu li {
        width: 100%;
    }
    
    
    .nav-link {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .menu_mobile-section {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .menu-name{
        font-size: 36px;
        color: var(--color-primary);
    }

    .menu__close-icon {
        display: flex;
        font-size: 46px;
        color: var(--color-primary);
    }

    .menu__open-section {
        display: block;
    }

    .menu__open-section i {
        font-size: 36px;
        color: var(--color-primary);
    }

    
    .menu__close-icon {
        display: block;
        color: var(--color-primary);
    }
}
